{% extends "base.html" %}

{% block title %} Profile Details {% endblock %}

{% block header %}{% endblock %}

{% block content %}


<div class="admin_panel">
    <!-- check what the details is here -->
    <form name="profileForm" method="POST" action="../details1/">
        <table>
            {% csrf_token %}
            {{ form.non_field_errors}}
            {{ form.as_table }}
        </table>
        <div class="frmBtn_container">
            <input type="submit">
        </div>
        <div>
            <button><a href="../{{ form.pk }}delete1/">DELETE</a></button>
            # takes user back to profiles drop-down menu
            <button><a href="{% url 'admin_console1' %}">CANCEL </a></button>
        </div>
    </form>
</div>

{% endblock %}