{% extends "base.html" %} #this file inherits from base.html

{% block title %} Royal Hotels {% endblock %}

{% block header %}Welcome to the Royal Hotel {% endblock %}

{% block content %}

<form name="select_one" method="POST" action="">
    <label for="menu_id"> Please choose one of the three profiles </label>
    <select id="menu_id" name="menu" onchange="top.location.href=this.options[this.selectedIndex].value;">
    {% for profiles in profiles %}
        <option value="../{{ profiles.pk }}/details1/"> {{ profiles.firstname }} </option>
    {% endfor %}
        <option value="{% url 'createProfile' %}"> Add another profile </option>
</form>

{% endblock %}

